/* work sans google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 85px;
}
.section-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.section-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}
.btn-primary:hover {
  background: rebeccapurple;
  cursor: pointer;
}
/* header styles start */
header {
  background: rgba(255, 144, 14, 0.1);
}
/* navbar menu styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  gap: 24px;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 26px;
}
/* banner  styles*/
.banner-content {
  width: 862px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner img {
  width: 100%;
  margin-bottom: 30px;
}
/* team styles  */
.teams {
  display: flex;
  align-items: center;
  gap: 70px;
}
.img-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams-title {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.of-our {
  color: #131313;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-weight: 700;
}

/* facts styles */
.facts-card {
  display: flex;
  justify-content: space-around;
}
.facts-card .card * {
  margin-bottom: 5px;
}
.facts-card .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 40px;
  text-align: center;
}
.card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
}
.card-title {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}

/* sponsors styles */
.sponsors {
  text-align: center;
}
.sponsors-img {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.sponsors-img img {
  width: 150px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  nav,
  .teams,
  .facts-card,
  .sponsors-img {
    flex-direction: column;
  }
  .nav-title {
    font-size: 1.8rem;
    margin-bottom: 16px;
  }
  nav li a {
    flex-direction: column;
    font-size: 1rem;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title,
  .teams-title,
  .section-title {
    font-size: 2rem;
  }
  .btn-primary {
    padding: 14px 16px;
    font-size: 1rem;
  }
  .banner img {
    border-radius: 5px;
  }
  .img-content {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .teams-content,
  .section-title,
  .section-description {
    text-align: center;
  }
  .facts-card .card {
    margin-bottom: 24px;
  }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .teams,
  .facts-card {
    flex-direction: column;
  }
  .nav-title {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
  nav li a {
    flex-direction: column;
    font-size: 1.5rem;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title,
  .teams-title {
    font-size: 2.8rem;
  }
  .btn-primary {
    padding: 16px 20px;
    font-size: 1.2rem;
  }
  .teams-content,
  .section-title,
  .section-description {
    text-align: center;
  }
  .facts-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
